---
title: Urknall Documentation
layout: frontpage
---

<div class="row">
	<div class="container">
		<div class="col-lg-12">
			<div class="page-header">
				<h1>Urknall <small>Opinionated provisioning for clever developers</small></h1>
			</div>

			<p>Urknall is the basic building block for creating <a href="http://golang.org" target="_blank">go</a>
			based tools for the administration of complex infrastructure. It
			provides the mechanisms to access resources and keep a cache of
			executed tasks.  Description of tasks is done using a mix of
			explicit shell commands and abstractions for more complex actions
			being pragmatic, but readable.</p>

			<img src="images/uk.sc.gif" alt="simple urknall screencast" class="img-responsive img-rounded" />
		</div>
	</div>
</div>

<div class="row" style="margion-top: 20px;">
	<div class="container">
		<div class="col-lg-12">
			<h2>Features</h2>

			<ul>
				<li><p><b>Automate provisioning</b>: Urknall provides automated
				provisioning, so that resources can be set up reproducibly and
				easily. Thereby Urknall helps with scaling infrastructure to
				the required size.</p>
				</li>
				<li><p><b>Agentless tool that only relies on common UNIX tools
					and provides decent caching</b>: As Urknall works agentless
				on UNIX based systems, adding new resources to the
				infrastructure is effortless. The caching keeps track of
				performed tasks and makes repeated provisioning with thoughtful
				changes possible.</p>
				</li>
				<li><p><b>Template mechanism that helps at the start, but get’s
					out of the way later on</b>: Urknall provides some basic
				templates to execute common tasks, but lets users modify those
				or add new ones to solve the specific problem at hand. They
				have no intent to be the generic solution for each use case on
				each platform.</p>
				</li>
				<li><p><b>Templates use shell commands with small
					abstractions</b>: Create solutions using a familiar
				language, with pragmatic helpers to simplify common tasks and
				have type safety. No need to learn some fancy new abstractions
				from the core problem.</p>
				</li>
				<li><p><b><a href="http://golang.org" target="_blank">Go</a>
					based</b>: This provides the benefits of a compiler,
				helping to catch bugs early and making refatctoring easy,
				decent tooling and single binary infrastructure management
				tools, having no depedencies and enabling all team member to
				perform tasks like deployment.</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="container">
		<div class="col-lg-12">
			<h2 id="installation">Installation</h2>

			<p>To install urknall a proper go setup is required. See
			<a href="http://www.golang.org" target="_blank">go</a> for further information on
			how to do so. This page has a helpful
			<a href="http://tour.golang.org" target="_blank">tour</a> on the language itself that
			might be a good quick introduction, when you haven't use go yet.</p>

			<p>Installation of urknall is as easy as running the following command:</p>

			<pre><code>$ go get github.com/dynport/urknall/urknall</code></pre>

			<p>This will download the source to <code>$GOPATH/src/github.com/dynport/urknall</code> and
			install the <a href="<%= relative_path_to '/docs/binary/' %>">urknall binary</a> to <code>$GOPATH/bin</code> (which should be in your
			<code>$PATH</code> environment for best experience) and <a href="<%= relative_path_to '/docs/library/' %>">urknall library</a> to the
			subtree in <code>$GOPATH/pkg</code>.</p>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="container">
		<div class="col-lg-12">
			<h2>Documentation</h2>

			<p>The following pages provides a quickstart guide and extensive
			documentation for different aspects and concepts of urknall. For
			the technical API documentation on how to use urknall, see the
			<a href="http://godoc.org/github.com/dynport/urknall" target="_blank">godoc page</a>.</p>
		</div>
	</div>
	<div class="container" style="margin-top: 20px;">
		<div class="col-lg-4">
			<div class="well">
				<h2>QuickStart</h2>
				<p>Understand how to use the different parts of urknall to build a
				basic provisioning tool.</p>
				<p><a class="btn btn-primary" href="<%= relative_path_to '/docs/quickstart/' %>" role="button">View details &raquo;</a></p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="well">
				<h2>Urknall Library</h2>
				<p>The urknall library provides all the nuts and bolts required for
				building provisioning tools.</p>
				<p><a class="btn btn-primary" href="<%= relative_path_to '/docs/library/' %>" role="button">View details &raquo;</a></p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="well">
				<h2>Urknall Binary</h2>
				<p>Urknall provides a binary that can be used to create an initial
				application for provisoning, and add and update templatess. Learn how to use
				this tool effectively.</p>
				<p><a class="btn btn-primary" href="<%= relative_path_to '/docs/binary/' %>" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
</div>

