---
title: Urknall Documentation
layout: frontpage
---

<div class="row">
	<div class="container">
		<div class="col-lg-12">
			<div class="page-header">
				<h1>Urknall <small>Opinionated provisioning for clever developers</small></h1>
			</div>

			<p> Urknall is the basic building block for creating <a
				href="http://golang.org">go</a> based tools for the administration
			of complex infrastructure. It provides the mechanisms to access
			resources and keep a cache of executed tasks.  Description of tasks
			is done using a mix of explicit shell commands and abstractions for
			more complex actions being pragmatic, but readable.</p>
		</div>
	</div>
</div>

<div class="row" style="margion-top: 20px;">
	<div class="container">
		<div class="col-lg-12">
			<h2>Features</h2>

		</div>
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="container">
		<div class="col-lg-12">
			<h2>Installation</h2>

			<p>To install urknall a proper go setup is required. See
			<a href="http://www.golang.org">go</a> for further information on
			how to do so. This page has a helpful
			<a href="http://tour.golang.org">tour</a> on the language itself that
			might be a good quick introduction, when you haven't use go yet.</p>

			<p>Installation of urknall is as easy as running the following command:</p>

			<pre><code>$ go get github.com/dynport/urknall/urknall</code></pre>

			<p>This will download the source to <code>$GOPATH/src/github.com/dynport/urknall</code> and
			install the <a href="../binary/">urknall binary</a> to <code>$GOPATH/bin</code> (which should be in your
			<code>$PATH</code> environment for best experience) and <a href="../library/">urknall library</a> to the
			subtree in <code>$GOPATH/pkg</code>.</p>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="container">
		<div class="col-lg-4">
			<h2>QuickStart</h2>
			<p>Understand how to use the different parts of urknall to build a
			basic provisioning tool.</p>
			<p><a class="btn btn-primary" href="<%= relative_path_to '/docs/quickstart/' %>" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-lg-4">
			<h2>Urknall Library</h2>
			<p>The urknall library provides all the nuts and bolts required for
			building provisioning tools.</p>
			<p><a class="btn btn-primary" href="<%= relative_path_to '/docs/library/' %>" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-lg-4">
			<h2>Urknall Binary</h2>
			<p>Urknall provides a binary that can be used to create an initial
			application for provisoning, and add and update templatess. Learn how to use
			this tool effectively.</p>
			<p><a class="btn btn-primary" href="<%= relative_path_to '/docs/binary/' %>" role="button">View details &raquo;</a></p>
		</div>
	</div>
</div>

